.bench-test-panel .panel-table table { margin-bottom: 0; }
.bench-test-panel .panel-table table tr td:first-child { width: 150px; }
.bench-test-panel .panel-table table tr td:first-child .progress { margin-bottom: 0; }
.bench-test-panel .panel-footer small { color: #999; }