<div role="footer" class="row">
    <div class="col-md-12">
        <div class="well-sm text-center">
            <div>
                This site is hosted by <a href="https://www.digitalocean.com/?refcode=290a440aff56">DigitalOcean</a>
            </div>
            <div>
                <a href="https://www.digitalocean.com/?refcode=290a440aff56"><img src="/web/assets/imgs/ssd-virtual-servers-banner-468x60.jpg"></a>
            </div>
        </div>
    </div>
</div>