<div role="header" class="row">
    <div class="col-md-12">
        <div class="well">
            <div class="pull-right text-center">
                <a href="https://travis-ci.org/Orgun109uk/php-bench">
                    <img src="https://travis-ci.org/Orgun109uk/php-bench.svg?branch=master" alt="Build Status" title="Build Status">
                </a>
                <br>
                <script data-gratipay-username="Orgun109uk" data-gratipay-widget="button" src="//gttp.co/v1.js"></script>
            </div>

            <p class="text-justify">Some details about the site...</p>
        </div>
    </div>
</div>